<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<h1>List of cars</h1>
<div>
    <h2>Number of Cars:<span th:text="${count!=null?count:cars.size()}"></span></h2>
</div>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Model</th>
        <th>Engine</th>
        <th>Body</th>
    </tr>
    <tr th:each ="car:${cars}">
        <td th:text="${car.id}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.engine}"></td>
        <td th:text="${car.body}"></td>
    </tr>
</table>
<a th:href = "@{/}">Back</a>
</body>
</html>